.upload__posts{
  display :flex ;
  flex-flow :  row wrap;
  justify-content: center;
  margin-top : 30px;
}


.upload__preview {
  display:  flex;
  flex-direction: column;
  align-items : center;
  margin : 30px;
  padding : 15px ;
  /* border :  solid  ; */
  box-shadow: 0 0 5px ;
}
.upload__container{
  margin : 10px;
  padding: 5px;
  /* width : 300px; */
  max-width: 300px;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
  /* border: solid 3px rgb(75, 76, 78,100) ; */
  box-shadow: 0 0 10px;
}

.uploaded__posts{
  display:  flex;
  flex-direction: column;
  align-items : center;
  margin: 30px;
  padding : 15px ;
  /* border :  solid  ; */
  box-shadow: 0 0 5px ;
}
.uploaded__posts__wrapper{
  /* display :flex ; */
  /* flex-flow :  row wrap;
  justify-content: center; */
  column-count: 1;
  column-gap: 1em;
  margin-top : 30px;
}

.posts__container{
  margin : 10px;
  /* padding: 5px; */
  max-width: 300px;
  max-height: 400px;

  display : flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 2px rgb(75, 76, 78,100) ; */
  /* box-shadow: 0 0 10px; */
  border-radius: 12px;

  /* transition: transform 250ms; */
} 
.posts__container:hover{ 
  /* transform: translateY(-10px); */
  box-shadow: 0 0 3px black;
  opacity: 0.7;
}
 video{
  width : 100%;
  border-radius: 10px;
}
 img{
  width : 100%;
  height : 100%;
  border-radius: 10px;
  cursor: zoom-in;
  object-fit: fill;
}


@media only screen and (min-width: 1024px) {
  .uploaded__posts__wrapper {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .uploaded__posts__wrapper {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .uploaded__posts__wrapper {
    column-count: 2;
  }
}
